body{
    margin: 0;
    background-color: aliceblue;
}
#navbar{
    display: inline-flex;
    flex-direction: column;
    align-items: space-between;
    justify-content:space-around;
    height: 100vh;
    width: 10vh;
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;


}


#navbar .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navbar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    
}
#navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}