html {
   background-image: url(./BG_Image.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   border: 10px rgb(26, 204, 26) groove;
   height: 3000px;
}


.welcome {
   background-color: black;
   color: white;
   height: 110px;
   width: 500px;
   border: 5px solid red;
   border-radius: 30px;
   font-style: italic;
   margin: 10px;
   display: inline-block;
   text-align: center;
   padding: 20px;
}
.home {
   background-color: black;
   color: white;
   height: 70px;
   width: 450px;
   border: 5px solid red;
   border-radius: 40px;
   font-style: italic;
   text-align: center;
   display: inline-block;
   position: absolute;
   left: 350px; 

}
.contact {
   background-color: black;
   color: white;
   height: 150px;
   width: 400px;
   border: 5px solid red;
   border-radius: 40px;
   font-style: italic;
   display: inline-block;
   position: absolute;
   left: 980px;
   top: 30px;
   padding-left: 100px;
}

.contact h3 {
   padding-left: 10px;
}

.form {
   background-color: #fff;
   border: 5px dashed red;
   border-radius: 5px;
   text-align: center;
   width: 400px;
   color: rgb(249, 111, 111);
   /* position: absolute; */
   /* top: 200px; */
   /* left: 800px; */
   display: block;
   margin-top: 80px;
   margin-left: 650px ;
   padding: 10px;
   /* font-size: 20px; */


}
   
input[type="text"],
input[type="email"],
input[type="date"],
input[type="checkbox"],
type[type="reset"] {
   background-color: #fff;
   border-radius: 5px;
   width: 200px;
   height: 20px;
   margin: 4px;
}

.offer {
   height: 350px;
   width: 350px;
   border: 5px solid grey;
   border-radius: 50%;
   background-color: teal;
   text-align: center;
   display: inline-block;
   position: absolute;
   left: 40px;
   top: 400px;
   
   

}

.menu {
   height: 70px;
   width: 600px;
   border: 5px solid red;
   background-color: #000;
   position: absolute;
   color: white;
   border-radius: 30px;
   text-align: center;
   padding-bottom: 10px;
   margin-left: 450px;
   margin-top: 50px;
   font-size: 20px;
   font-style: italic;

}

.food-menu div {
   background-color: aqua;
   color: cornflowerblue;
   text-align: center;
   /* display: flex; */
   height: 250px;
   width: 400px;
   border: 2px solid aqua;
   border-radius: 25px;
   box-shadow: 2px 2px 5px black;

}

.food-menu {
   top: 1100px;
   height: 600px;
   width: 100%;
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.food-menu div:hover {
   transition: 0.5s;
   box-shadow: 5px 5px 15px black;
   transition-delay: 0.2s;

}